In [1]:
import pandas as pd
import numpy as np

from pymongo import MongoClient

In [2]:
filename = './data/estimativa_dou_2017.xls'

df_populacaoBR = pd.read_excel(filename,sheetname=1,converters={'COD. UF' : str, 'COD. MUNIC' : str})

df_populacaoBR.head()

   UF COD. UF COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
0  RO      11      00015  Alta Floresta D'Oeste              25437
1  RO      11      00023              Ariquemes             107345
2  RO      11      00031                 Cabixi               6224
3  RO      11      00049                 Cacoal              88507
4  RO      11      00056             Cerejeiras              17934

In [3]:
df_populacaoBR['cdIBGE'] = df_populacaoBR['COD. UF'] + df_populacaoBR['COD. MUNIC']

In [4]:
df_populacaoBR.columns

Index(['UF', 'COD. UF', 'COD. MUNIC', 'NOME DO MUNICÍPIO',
       'POPULAÇÃO ESTIMADA', 'cdIBGE'],
      dtype='object')

In [5]:
df_populacaoBR.columns = ['UF', 'cdUF', 'COD. MUNIC', 'municipio', 'populacao', 'cdIBGE']

In [6]:
df_populacaoBR.head()

   UF cdUF COD. MUNIC              municipio populacao   cdIBGE
0  RO   11      00015  Alta Floresta D'Oeste     25437  1100015
1  RO   11      00023              Ariquemes    107345  1100023
2  RO   11      00031                 Cabixi      6224  1100031
3  RO   11      00049                 Cacoal     88507  1100049
4  RO   11      00056             Cerejeiras     17934  1100056

In [7]:
df_populacaoPR = df_populacaoBR[df_populacaoBR['UF'] == 'PR'][['UF', 'cdUF', 'municipio', 'populacao', 'cdIBGE']]
df_populacaoPR.head()

      UF cdUF            municipio populacao   cdIBGE
3912  PR   41               Abatiá      7768  4100103
3913  PR   41         Adrianópolis      6254  4100202
3914  PR   41        Agudos do Sul      9161  4100301
3915  PR   41  Almirante Tamandaré    115364  4100400
3916  PR   41   Altamira do Paraná      2948  4100459

In [8]:
dict_municipios = df_populacaoPR.to_dict(orient='records')
dict_municipios[333]

[{'UF': 'PR',
  'cdIBGE': '4124103',
  'cdUF': '41',
  'municipio': 'Santo Antônio da Platina',
  'populacao': 45819},
 {'UF': 'PR',
  'cdIBGE': '4124202',
  'cdUF': '41',
  'municipio': 'Santo Antônio do Caiuá',
  'populacao': 2741}]

In [9]:
client = MongoClient('localhost',27017)
db = client['db_data_gov']

In [10]:
result = db.municipio.insert_many(dict_municipios)